<hr class="sixteen columns spacer">
<div class="row">


<div id="" class="four columns sidetext">
	<h4 class="highlight">FROM THE BLOG</h4>
</div><!-- / -->

<div class="row offset-by-four">


	<div id="" class="twelve columns">
		<img src="/images/couch.jpg" alt="">
	</div><!-- / -->

	<div id="" class="two columns article-aside hide-on-phones">	
		<h4 class="highlighter">29 JAN</h4>
		<p><a href="#"><span class="glyphs">c</span> 6</a></p>
	</div><!-- / -->


	<div class="ten columns mobile-align">
		<h4 class="">BRAND NEW THEME NEPTUNE.</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco.</p>
		<small><a href="#">READ MORE</a></small>
	</div>


	


<br class="clear" />
</div><!-- /end offset row -->


</div><!-- /end -->