<hr class="sixteen columns spacer">

<div id="slider" class="two-thirds column">
<div class="flexslider" data-controls="false">
<ul class="slides">
			    
	<li class="frame">
		<div id="" class="img-anim-1xxx">
			<img src="/images/mac.jpg" alt="">
		</div>	
	</li>

	<li class="frame">
		<div id="" class="img-anim-1xxx">
			<img src="/images/mac.jpg" alt="">
		</div>	
	</li>

	<li class="frame">
		<div id="" class="img-anim-1xxx">
			<img src="/images/mac.jpg" alt="">
		</div>	
	</li>

</ul>

<div id="" class="flex-container two-thirds column">
</div><!-- /end slider controls -->	

</div><!-- /end flexslider -->
</div><!-- /end slider -->

<div id="" class="one-third column mobile-align">
	<h4>Hello</h4>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.</p>
	<p>Sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.</p>
	<h6><a href="#" class="">VISIT SITE</a></h6>
</div><!-- / -->




<hr class="sixteen columns spacer">

<div id="slider" class="two-thirds column">
<div class="flexslider" data-controls="false">
<ul class="slides">
			    
	<li class="frame">
		<div id="" class="img-anim-1xxx">
			<img src="/images/mac.jpg" alt="">
		</div>	
	</li>

	<li class="frame">
		<div id="" class="img-anim-1xxx">
			<img src="/images/mac.jpg" alt="">
		</div>	
	</li>

	<li class="frame">
		<div id="" class="img-anim-1xxx">
			<img src="/images/mac.jpg" alt="">
		</div>	
	</li>

</ul>

<div id="" class="flex-container two-thirds column">
</div><!-- /end slider controls -->	

</div><!-- /end flexslider -->
</div><!-- /end slider -->

<div id="" class="one-third column mobile-align">
	<h4>Hello</h4>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.</p>
	<p>Sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.</p>
	<h6><a href="#" class="">VISIT SITE</a></h6>
</div><!-- / -->








