<hr class="sixteen columns spacer">


<div id="" class="sixteen columns heading">
	<a href="#">
		<h4 class="highlight textcenter">— FROM THE BLOG —</h4>
	</a>
</div><!-- / -->



<div class="row">

<div id="" class="four columns">
	<h6>29 JAN</h6>
</div><!-- / -->

<div id="" class="eight columns">
	<h4>BRAND NEW THEME RELEASED</h4>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.
	</p>
</div><!-- / -->

<div id="" class="four columns">
	comments
</div><!-- / -->


</div><!-- /end row -->
