<hr class="sixteen columns divider">
<div id="portfolio" class="portfolio row">
<div id="" class="sixteen columns"></div><!-- / -->


<div id="" class="sixteen columns">
<a href="#"><h4 class="highlight">PORTFOLIO</h4></a>
</div><!-- / -->








<div class="row photogrid">

<hr class="sixteen columns">
<div id="" class="four columns">
	<h4>The Title</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.</p>
</div><!-- / -->

<div class="twelve columns">
	<a href="#" alt="" class="scale-with-grid corners">
		<img src="/images/thumb2.jpg" alt="">
	</a>
</div>

<hr class="sixteen columns">
<div id="" class="four columns">
	<h4>The Title</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.</p>
</div><!-- / -->

<div class="twelve columns">
	<a href="#" alt="" class="scale-with-grid corners">
		<img src="/images/thumb1.jpg" alt="">
	</a>
</div>

<hr class="sixteen columns">
<div id="" class="four columns">
	<h4>The Title</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.</p>
</div><!-- / -->

<div class="twelve columns">
	<a href="#" alt="" class="scale-with-grid corners">
		<img src="/images/thumb3.jpg" alt="">
	</a>
</div>






















<br class="clear" />
</div><!-- /end offset row -->
</div><!-- /end portfolio -->