<hr class="sixteen columns spacer">

<div id="" class="portfolio row">




<div id="" class="four columns sidetext">
<a href="#">
	<h4 class="highlight">LATEST WORK</h4>
</a>
</div><!-- / -->

<div class="photogrid row offset-by-four">


<div class="four columns">
	<a href="#" alt="" class="scale-with-grid">
		<img src="/images/thumb2.jpg" alt="">
	</a>
</div>

<div class="four columns">
	<a href="#" alt="" class="scale-with-grid">
		<img src="/images/thumb5.jpg" alt="">
	</a>
</div>

<div class="four columns">
	<a href="#" alt="" class="scale-with-grid">
		<img src="/images/thumb3.jpg" alt="">
	</a>
</div>

<div class="four columns">
	<a href="#" alt="" class="scale-with-grid">
		<img src="/images/goldengate.jpg" alt="">
	</a>
</div>

<div class="four columns">
	<a href="#" alt="" class="scale-with-grid">
		<img src="/images/thumb1.jpg" alt="">
	</a>
</div>

<div class="four columns">
	<a href="#" alt="" class="scale-with-grid">
		<img src="/images/thumb4.jpg" alt="">
	</a>
</div>






</div><!-- /end offset row -->

</div><!-- /end portfolio -->

