<hr class="sixteen columns spacer">

<div id="" class="portfolio row">




<div id="" class="four columns">
<h4 class="">PORTFOLIO</h4>
	<p>A show and tell of what's<br>been keeping us busy.</p>
<span class="glyphs">)</span><h5 class="calltoaction">SEE MORE</h5>
	
<!-- 	<span class="glyphs fancylink">$</span><h5 class="calltoaction fancylink">SEE MORE</h5> -->

</div><!-- / -->

<div class="photogrid row offset-by-four">

<div class="four columns">
	<a href="#" alt="" class="scale-with-grid corners">
		<img src="/images/thumb2.jpg" alt="">
	</a>
</div>

<div class="four columns">
	<a href="#" alt="" class="scale-with-grid corners">
		<img src="/images/thumb3.jpg" alt="">
	</a>
</div>

<div class="four columns">
	<a href="#" alt="" class="scale-with-grid corners">
		<img src="/images/thumb1.jpg" alt="">
	</a>
</div>

<div class="four columns">
	<a href="#" alt="" class="scale-with-grid corners">
		<img src="/images/thumb4.jpg" alt="">
	</a>
</div>

<div class="four columns">
	<a href="#" alt="" class="scale-with-grid corners">
		<img src="/images/thumb1.jpg" alt="">
	</a>
</div>

<div class="four columns">
	<a href="#" alt="" class="scale-with-grid corners">
		<img src="/images/thumb2.jpg" alt="">
	</a>
</div>

<div class="four columns">
	<a href="#" alt="" class="scale-with-grid corners">
		<img src="/images/thumb2.jpg" alt="">
	</a>
</div>

<div class="four columns">
	<a href="#" alt="" class="scale-with-grid corners">
		<img src="/images/thumb1.jpg" alt="">
	</a>
</div>

<div class="four columns">
	<a href="#" alt="" class="scale-with-grid corners">
		<img src="/images/thumb3.jpg" alt="">
	</a>
</div>


</div><!-- /end offset row -->

</div><!-- /end portfolio -->

