<hr class="sixteen columns">

<div id="slider" class="sixteen columns">
			
<div class="flexslider" data-controls="false">
<ul class="slides">
			    
	<li class="frame">
		<div id="" class="img-anim-1xxx">
			<img src="/images/iphone3.jpg" alt="">
		</div>	
	</li>

	<li class="frame">
		<div id="" class="img-anim-1xxx">
			<img src="/images/black3.jpg" alt="">
		</div>	
	</li>

	<li class="frame">
		<div id="" class="img-anim-1xxx">
			<img src="/images/iphone2.jpg" alt="">
		</div>	
	</li>

</ul>

<div id="" class="flex-container sixteen columns hide-on-phones">
</div><!-- /end slider controls -->	

</div><!-- /end flexslider -->
</div><!-- /end slider -->









