<hr class="sixteen columns spacer">

<div id="slider" class="row">
			
<div class="flexslider home" data-controls="false">
<ul class="slides">
			    
	<li class="row frame">
		<div id="" class="sixteen columns img-anim-1xxx">
			<img src="/images/slate.jpg" alt="">
		</div>	
	</li>

	<li class="row frame">
		<div id="" class="sixteen columns img-anim-1xxx">
			<img src="/images/slate.jpg" alt="">
		</div>	
	</li>

	<li class="row frame">
		<div id="" class="sixteen columns img-anim-1xxx">
			<img src="/images/slate.jpg" alt="">
		</div>	
	</li>





</ul>

</div><!-- /end flexslider -->
</div><!-- /end slider -->

<div id="" class="flex-container sixteen columns ">
</div><!-- /end slider controls -->	







