<hr class="sixteen columns spacer">

<div id="slider" class="row">
			
<div class="flexslider home" data-controls="false">
<ul class="slides">
			    
	<li class="row frame">
		<div id="" class="sixteen columns img-anim-1xxx">
			<img src="/images/slate.jpg" alt="">
		</div>	
		<div id="" class="text-anim-1 twelve columns offset-by-two">							
				<h3 class="highlight">RESPONSIVE GRID.</h3>
				<p>Cloudberry is an interactive design firm in New York City helping Fortune 500 companies provide online experiences that drive strategic business outcomes.</p>
		</div><!-- / -->
	</li>

	<li class="row frame">
		<div id="" class="sixteen columns img-anim-1xxx">
			<img src="/images/slate2.jpg" alt="">
		</div>	
		<div id="" class="text-anim-1 twelve columns offset-by-two">							
				<h3 class="highlight">RESPONSIVE GRID.</h3>
				<p>Cloudberry is an interactive design firm in New York City helping Fortune 500 companies provide online experiences that drive strategic business outcomes.</p>
		</div><!-- / -->
	</li>

		<li class="row frame">
		<div id="" class="sixteen columns img-anim-1xxx">
			<img src="/images/slate3.jpg" alt="">
		</div>	
		<div id="" class="text-anim-1 twelve columns offset-by-two">							
				<h3 class="highlight">RESPONSIVE GRID.</h3>
				<p>Cloudberry is an interactive design firm in New York City helping Fortune 500 companies provide online experiences that drive strategic business outcomes.</p>
		</div><!-- / -->
	</li>



</ul>

</div><!-- /end flexslider -->
</div><!-- /end slider -->

<div id="" class="flex-container sixteen columns ">
</div><!-- /end slider controls -->	







