<hr class="sixteen columns">

<div id="tagline" class="four columns">
	

<h4>WELCOME<br>TO NEPTUNE</h4>


</div><!-- / -->





<div id="tagline" class="twelve columns">
	
<h3>THIS IS THE TAGLINE WIDGET AREA.</h3>
<h4>You can say something about your business here.</h4>


</div><!-- / -->